#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11em 0 30em;
  h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
}

#popular-products {
  padding-bottom: 100px;
  .container {
    position: relative;
  }
  .header {
    h2 {
      font-size: 48px;
      font-weight: 700;
    }
  }
  .product {
    .card {
      border: 2px solid #eceef6;
      position: relative;
      p {
        font-size: 14px;
        text-align: justify;
        margin-top: 10px;
        height: 42px;
      }
      .price {
        font-size: 24px;
      }
      .add-basket {
        position: absolute;
        left: 38%;
        bottom: -32px;
        transform: translate(-50%, -50%);
        border-left: 2px solid #eceef6;
        border-bottom: 2px solid #eceef6;
        border-bottom-left-radius: 20px;
        padding: 10px;
        transform: rotate(-45deg);
        background-color: white;
        button {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          line-height: 35px;
          border: 2px solid #eceef6;
          background-color: $white-color;
          transform: rotate(45deg);
          z-index: 0;
          transition: all 0.5s;
          &:hover{
            background-color: #fe5626;
            i{
                color: $white-color;
            }
          }
          i {
            color: #fe5626;
          }
        }
      }
      .size{
          visibility: hidden;
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          padding: 40px 20px;
          height: 95%;
          width: 100%;
          background-color: #fffefec9;
          &.active{
            visibility: visible;
            opacity: 1;
          }
      }
    }
  }
  .cart {
    position: absolute;
    top: 15px;
    right: 15px;
    .basket-icon {
      button {
        box-shadow: 0 0 5px 0px #d4d4d4;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 35px;
        border: 2px solid #eceef6;
        background-color: $white-color;
        z-index: 0;
        transition: all 0.5s;
        &:hover{
            background-color: #fe5626;
            i{
                color: $white-color;
            }
          }
        i {
          color: #fe5626;
        }
      }
    }
    .cart-content{
        visibility: hidden;
        opacity: 0;
        border: 2px solid #eceef6;
        background-color: $white-color;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        position: absolute;
        right: 0;
        .cart-item{
            .image{
                width: 70px;
                height: 70px;
            }
        }
        &.active{
          visibility: visible;
          opacity: 1;
        }
    }
  }
}