#contact{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 0em 15em;
    h2{
        font-size: 48px;
        margin-bottom: 50px;
    }
    form{
        input{
            padding: 10px 20px;
            border: none;
        }
        .btn-orange{
            padding: 10px 50px;
        }
    }
}